.heading {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 13px;
}
.table tbody tr:nth-of-type(even) {
  background-color: rgb(238, 238, 238);
}
.table tbody tr:last-of-type {
  border-bottom: 1px solid rgb(245, 245, 245);
}
.table th {
  text-align: left;
  background-color: rgb(245, 245, 245);
  padding: 10px 30px;
}
.table td {
  padding: 10px 30px;
}
