.wrapper {
  background-color: rgb(245, 245, 245);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
}
.heading {
  width: 70%;
  margin: 0 auto;
}
h2 {
  color: rgb(74, 64, 223);
  font-weight: bold;
  width: fit-content;
}
